%html
  %head
    %title Last Tube
    %script{src: '../jquery-3.0.0.js', type: 'text/javascript'}

    %body{style: 'font-size:30; text-align: center'}
    %p SOME KINDA HEADER AND BACKGROUND
    = yield
    %script{src: '../src/bundle.js', type: 'text/javascript'}
