%form#fromStation
  From
  %br
  %input{type: 'text', id: 'fromSearchParameter', name: 'fromStation'}
  %input{type: 'submit', value: 'from'}
%form#toStation
  To
  %br
  %input{type: 'text', id: 'toSearchParameter', name: 'toStation'}
  %input{type: 'submit', value: 'to'}
 
%p
  From 
  %span#fromStationResult From Station PlaceHolder
%p
  To
  %span#toStationResult To Station PlaceHolder
