%form#fromStation
  From
  %br
  %input{ type: 'text', id: 'fromSearchParameter', name: 'fromStation' }
  %input{ type: 'submit', value: 'from' }
%form#toStation
  To
  %br
  %input{ type: 'text', id: 'toSearchParameter', name: 'toStation' }
  %input{ type: 'submit', value: 'to' }
 
%p
  From 
  %span#fromStationResult
%p
  To
  %span#toStationResult

%button{ type: 'submit', value: 'Hurry Up!', id: 'findLastJourney' }Hurry Up!

%div{ id: 'last-train-container', style: "display: none" }
  %h3 The last train leaves at 
  %p#lastTrainTime
